@model F4DEDTournaments.Models.Tournament.ViewTournamentModel
@using Model
@{
    ViewData["Title"] = "ViewTournament";
    var timeleft = Model.Tournament.StartTime - DateTime.Now;
}



<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="~/css/Team/ViewTeam.css" rel="stylesheet" />
<div class="container">
    <div class="row flex-lg-nowrap">
        <div class="col-12 col-lg-auto mb-3" style="width: 250px;">
            <div class="card p-3">
                <div class="e-navlist e-navlist--active-bg">
                    <ul class="nav">
                        @if (Model.IsOwner == true)
                        {
                            <li class="nav-item"><a class="nav-link px-2" @*asp-action="EditTournament" asp-route-TeamID="@Model.Tournament.ID"*@><i class="fa fa-fw fa-cog mr-1"></i><span>Edit (WIP)</span></a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="col mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="e-profile">
                                <div class="row">
                                    <div class="col-12 col-sm-auto mb-3">
                                        <div class="mx-auto" style="width: 140px;">
                                            <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                                                <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;">Placeholder</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                        <div class="text-center text-sm-left mb-2 mb-sm-0">
                                            <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">@Model.Tournament.Name</h4>
                                            <p class="mb-0">@Model.Tournament.Game</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-content pt-3">
                                    <div class="tab-pane active">
                                        <div class="row">
                                            <div class="col">
                                                <div class="row mb-3">
                                                    <div class="col">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <label>Prize</label>
                                                            </div>
                                                            <div class="card-body">
                                                                @Model.Tournament.Prize
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <label>Buy in</label>
                                                            </div>
                                                            <div class="card-body">
                                                                @Model.Tournament.BuyIn
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label></label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col mb-3">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <label>Starts in</label>
                                                            </div>
                                                            <div class="card-body">
                                                                @{
                                                                    string StartsIn = "";
                                                                    if (Model.Tournament.Status == TourneyStatus.Planned)
                                                                    {
                                                                        if (timeleft < TimeSpan.Zero)
                                                                        {
                                                                            StartsIn = "Waiting for players or for the host to start the tournament";
                                                                        }
                                                                        else
                                                                        {
                                                                            StartsIn = $"{timeleft.Days} Day(s) {timeleft.ToString(@"hh\:mm\:ss")}";
                                                                            
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        StartsIn = "Tournament has already started";
                                                                    }
                                                                }
                                                                @StartsIn
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <label>Team size</label>
                                                            </div>
                                                            <div class="card-body">
                                                                @Model.Tournament.TeamSize
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-3 mb-3">
                    <div class="card mb-3">
                        <div class="card-body">
                            @if (Model.Tournament.Status == TourneyStatus.Planned)
                            {
                                <div class="px-xl-3">
                                    @if (!Model.IsOwner)
                                    {
                                        <a class="btn btn-primary" asp-action="JoinTournament" asp-route-tournamentId="@Model.Tournament.ID">
                                            Join
                                        </a>
                                    }
                                    else
                                    {
                                        if (timeleft < TimeSpan.Zero)
                                        {
                                            <a class="btn btn-primary" asp-action="StartTournament" asp-route-tournamentId="@Model.Tournament.ID">
                                                Start Tournament
                                            </a>
                                        }
                                        else
                                        {
                                            <a class="btn btn-dark text-white">
                                                Start Tournament
                                            </a>
                                        }
                                    }
                                </div>
                                <div class="dropdown-divider">
                                </div>
                            }
                            else if (Model.Tournament.Status == TourneyStatus.Active && Model.IsOwner)
                            {
                                <a class="btn btn-primary" asp-action="EndTournament" asp-route-tournamentId="@Model.Tournament.ID">
                                    End Tournament
                                </a>
                                <div class="dropdown-divider">
                                </div>
                            }
                            <div class="px-xl-3">
                                <b>Users:</b><br />
                                @foreach (string User in Model.CurrentUsers)
                                {
                                    @("• " + User);
                                    <br />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>