@model F4DEDTournaments.Models.Team.IndexViewModel;
@using Logic.Teams;
@using Model;
@{
    ViewData["Title"] = "Index";
    bool isInTeam = (bool)ViewData["IsInTeam"];
}
@if (isInTeam)
{
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    <h1>Results</h1>
                </div>
                <div class="card-body">
                    @foreach (TeamMatchResultDTO result in Model.PreviousResults)
                    {
                        string WonLoss = result.Won ? "Won" : "Loss";
                        <div class="row">
                            <div class="col text-center">
                                @Model.CurrentTeam.TeamName    @result.ScoreSelf - @result.ScoreOpponent     @result.OpponentName
                            </div>
                            <div class="col text-center">
                                <b>@WonLoss</b>
                            </div>
                        </div>
                    }
                </div>
                <div class="card-footer">
                    <a asp-action="ViewTeam" class="btn btn-primary">
                        Go to Team Page
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="pb-3">
                <div class="card ">
                    <div class="card-header">
                        Roster
                    </div>
                    <div class="card-body">
                        @foreach (string member in Model.CurrentRoster)
                        {
                            string User = "• " + member;
                            @User
                            <br />
                        }
                    </div>
                </div>
            </div>
            <div>
                <div class="card">
                    <div class="card-header">
                        Search for players
                    </div>
                    <div class="card-body">
                        <a class="btn btn-primary">
                            Go to Players Page (WIP)
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h1>Leaderboard</h1>
                </div>
                <div class="card-body">
                    <table>
                        <tr>
                            <th>Pos</th>
                            <th>Name</th>
                            <th>Wins</th>
                            <th>Losses</th>
                        </tr>
                        @for(int i=0; i<Model.Teams.Count; i++)
                        {
                            var stats = Model.Stats.Find(x => x.TeamID == Model.Teams[i].TeamID);
                            <tr>
                                <td>@(i+1)</td>
                                <td><a asp-action="ViewTeam" asp-route-TeamID="@Model.Teams[i].TeamID">@Model.Teams[i].TeamName</a></td>
                                <td>@stats.Wins</td>
                                <td>@stats.Losses</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>

        </div>
        <div class="col">
            <div class="pb-3">
                <div class="card ">
                    <div class="card-header">
                        Create
                    </div>
                    <div class="card-body">
                        <a asp-action="CreateTeam" class="btn btn-primary text-white">Create a Team</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="card">
                    <div class="card-header">
                        Players looking for a team
                    </div>
                    <div class="card-body">
                        <div>
                            Placeholder text
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}