@model TeamViewModel
@using Model
@{
    ViewData["Title"] = "ViewTeam";
}


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link href="~/css/Team/ViewTeam.css" rel="stylesheet" />
<div class="container">
    <div class="row flex-lg-nowrap">
        <div class="col-12 col-lg-auto mb-3" style="width: 250px;">
            <div class="card p-3">
                <div class="e-navlist e-navlist--active-bg">
                    <ul class="nav">
                        <li class="nav-item"><a class="nav-link px-2 active" href="#"><i class="fa fa-fw fa-bar-chart mr-1"></i><span>Statistics (WIP)</span></a></li>
                        <li class="nav-item"><a class="nav-link px-2 active" href="#" id="recentMatchesBtn"><i class="fa fa-fw fa-trophy mr-1" aria-hidden="true"></i>Recent matches</a></li>
                        @if (Model.Role == TeamRoles.Admin || Model.Role == TeamRoles.Owner)
                        {
                            <li class="nav-item"><a class="nav-link px-2" asp-action="EditTeam" asp-route-TeamID="@Model.Team.TeamID"><i class="fa fa-fw fa-cog mr-1"></i><span>Edit</span></a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="row">
                <div class="col mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="e-profile">
                                <div class="row">
                                    <div class="col-12 col-sm-auto mb-3">
                                        <div class="mx-auto" style="width: 140px;">
                                            <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                                                <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;">Placeholder</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                        <div class="text-center text-sm-left mb-2 mb-sm-0">
                                            <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">@Model.Team.TeamName</h4>
                                            <p class="mb-0">@Model.Team.PlayedGame</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-content pt-3">
                                    <div class="tab-pane active">
                                        <div class="row">
                                            <div class="col">
                                                <div class="row mb-3">
                                                    <div class="col">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <label>Minimum Elo</label>
                                                            </div>
                                                            <div class="card-body">
                                                                @Model.Team.MinimumElo
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <label>Minimum Age</label>
                                                            </div>
                                                            <div class="card-body">
                                                                @Model.Team.MinimumAge
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label></label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col mb-3">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <label>About</label>
                                                            </div>
                                                            <div class="card-body">
                                                                @Model.Team.Description
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row mb-3">
                                                    <div class="col">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <label>Country</label>
                                                            </div>
                                                            <div class="card-body">
                                                                @Model.Team.Country
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <label>Main Language</label>
                                                            </div>
                                                            <div class="card-body">
                                                                @Model.Team.Language
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-3 mb-3">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="px-xl-3">
                                <b>Members:</b><br />
                                @foreach (string Member in Model.Members)
                                {
                                    string User = "• " + Member;
                                    @User
                                    <br />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="recentMatches" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        @foreach (TeamMatchResultDTO match in Model.RecentMatches)
        {
            string WonLoss = match.Won ? "Won" : "Loss";
            <div class="row">
                <div class="col text-center">
                    @Model.Team.TeamName    @match.ScoreSelf - @match.ScoreOpponent     @match.OpponentName
                </div>
                <div class="col text-center">
                    <b>@WonLoss</b>
                </div>
            </div>
        }
    </div>

</div>

<script src="~/js/Team/ViewTeam.js"></script>

